#navigation {
    background-color: #000030;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    height: 4rem;
    align-items: center;
    z-index: 1000;
    justify-content: space-between;
}
#navigation h1 {
    color: #00afaf;
    margin-right: 1em;
}

#burger-icon {
    fill: #00afaf;
    padding: 0.25rem;
    margin-left: 0.5rem;
    height: auto;
    width: auto;
}

@media (min-width: 426px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {

}